:root {
    --main-bg-color: #009d63;
    --main-text-color: #009d63;
    --second-text-color: #bbbec5;
    --second-bg-color: #c1efde;
}

.primary-text {
    color: var(--main-text-color);
}

.second-text {
    color: var(--second-text-color);
}

.primary-bg {
    background-color: var(--main-bg-color);
}

.secondary-bg {
    background-color: var(--second-bg-color);
}

.rounded-full {
    border-radius: 100%;
}

#wrapper {
    overflow-x: hidden;
    background-image: linear-gradient( to right, #baf3d7, #c2f5de, #cbf7e4, #d4f8ea, #ddfaef);
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
    transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

#menu-toggle {
    cursor: pointer;
}

.list-group-item {
    border: none;
    padding: 20px 30px;
}

.list-group-item.active {
    background-color: transparent;
    color: var(--main-text-color);
    font-weight: bold;
    border: none;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }
    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }
    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}


/*Landing Page*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);
html,
body {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    background: #FFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
/*Landing Page*/

.wrapper {
    display: table;
    height: 100%;
    width: 100%;
}

/* User Table Header */
#searchBar {
    width: auto;
    margin-bottom: 15px;
    float: left;
}

#search-addon {
    width: 40px;
    height: 38px;
    margin-bottom: 15px;
    float: left;
}

#filterList {
    height: 37px;
    margin-left: 20px;
    float: left;
}

#filter {
    padding-right: 6px;
}

#sortList {
    height: 37px;
    margin-left: 6px;
    float: left;
}

#sort {
    padding-right: 6px;
}

#addUser {
    height: 37px;
    margin-left: 6px;
    float: left;
}

#plus {
    padding-right: 6px;
}

#deactivateUser {
    height: 37px;
    margin-left: 6px;
    float: left;
}

#trash {
    padding-right: 6px;
}
/* User Table Header */

/* User Table Body*/
thead {
    background: 1e0dfdfd5;
    text-align: center;
    border-radius: 10px 10px 10px 10px;
}

th {
    color: #7239ab;
}

tr {
    text-align: center;
}
/* User Table Body*/

/* Modal for Add User */

/* Modal for Add User */

/* Modal for Deactivate Account */

/* Modal for Deactivate Account */